.category-button {
  margin-right: .4rem;
  background: none;
  border: none;
  font-size: 1.3em;
}

.category-button:hover {
  background-color: black;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}