.landing-card {
  margin-top: 1rem;
  height: 100%;
}

.landing-article-description {
  margin-top: 1rem;
}

.auth-date-container {
  display: flex;
  margin-top: 1rem;
}

.landing-author, .landing-bullet {
  margin-right: 4px;
}

@media screen and (min-width: 1100px) {
  .landing-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .landing-article-img {
    width: 40%;
    height: auto;
    object-fit: contain;
    align-self: flex-start;
  }
  .landing-article-info {
    width: 55%;
  }
}